<h1> Manage Your Clients</h1>

<% if @clients.any?() %>
  <ul>
    <% @clients.each do |patient| %>
    <li>Name: <%= client.name() %>, Phone: <%= client.phone() %>, Email: <%= client.email() %><button type='button'><a href='/clients/<%= client.id() %>/edit'>Edit or Delete</a></button>
      <% if client.stylist_id %>
        : <%= Doctor.find_by_doctor_id(patient.doctor_id).last_name %>, <%= Stylist.find_by_id(client.stylist_id).name %>
      <% else %>
      <form action="/client/assign" method="post">
        <input id="id" name="id" type="hidden" value="<%=client.id() %>">
        <select class="stylists" name="stylists">
          <% @stylists.each do |stylist| %>
            <option value="<%= stylist.id %>"><%= stylist.name %></option>
          <% end %>
        </select>
        <button type="submit" name="assign_stylist" class="btn-sm">Assign Stylist</button>
      </form>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>

<button type='button'><a href='/clients/new'>Add a New Client</a></button>

<button type='button'><a href='/'>Back Home</a></button>
