<h1>Update <%=@client.name() %>'s Information </h1>

<form action="/clients/<%= @client.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type = "text" name="name" id="name">
  <div>
  <div class="form_group">
    <label for="phone">Phone:</label>
    <input type="text" name="phone" id="phone">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type = "text" name="email" id="email">
  <div>
  <br><button type="submit">Update</button><br>
</form>
<br>

<h1>Assign <%=@client.name() %> to a Stylist </h1>
<% if @stylists.any?() %>
<form action="/clients/assign" method="post">
<input id = "id" name="id" type="hidden" value="<%= @client.id()%>">
   <select class="stylists" name="stylists">
     <% @stylists.each do |stylist| %>
       <option value="<%= stylist.id %>"><%= stylist.name %></option>
     <% end %>
   </select>
   <button type="submit" name="assign_stylist" class="btn-sm">Assign Stylist</button>
</form>
<% else %>
<p> There are no stylists to assign to this client!</p>
<% end %>

<h1>Delete <%=@client.name() %></h1>
<form action="/clients/<%= @client.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete this client</button>
</form>
<br>
<a href="/clients">Back to Manage Clients</a>
